<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.don9cn.blog.model.system.file.ArticleAndFile.mapper">
	<!--<cache type="cn.don9.redis.core.LoggingRedisClusterCache" />-->
	<resultMap type="ArticleAndFile" id="articleAndFileResult">
		<id column="CODE" property="code" />
		<result column="FLAG_DEL" jdbcType="VARCHAR" property="flagDel" />
		<result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
		<result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
		<result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
		<result column="MODIFY_BY" jdbcType="VARCHAR" property="modifyBy" />
		<result column="Z_MORE01" jdbcType="VARCHAR" property="zMore01" />
		<result column="Z_MORE02" jdbcType="VARCHAR" property="zMore02" />
		<result column="Z_MORE03" jdbcType="VARCHAR" property="zMore03" />
		<result column="Z_MORE04" jdbcType="VARCHAR" property="zMore04" />
		<result column="Z_MORE05" jdbcType="VARCHAR" property="zMore05" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="ARTICLE_CODE" jdbcType="VARCHAR" property="articleCode" />
		<result column="FILE_CODE" jdbcType="VARCHAR" property="fileCode" />
	</resultMap>

	<!-- ******************************* 基础功能 ******************************** -->
	
	<!-- 添加 -->
	<insert id="insert" parameterType="ArticleAndFile">
	   <selectKey keyProperty="code" resultType="String" order="BEFORE">
	      select replace(uuid(), '-', '')
	   </selectKey>
	   INSERT INTO ARTICLE_AND_FILE
	   (CODE,FLAG_DEL,CREATE_TIME,MODIFY_TIME,CREATE_BY,MODIFY_BY,
	    Z_MORE01,Z_MORE02,Z_MORE03,Z_MORE04,Z_MORE05,REMARK,
		ROLE_CODE,MENU_CODE)
	   VALUES 
	   (#{code,jdbcType=VARCHAR},#{flagDel,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR},
		#{modifyTime,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{modifyBy,jdbcType=VARCHAR},
		#{zMore01,jdbcType=VARCHAR},#{zMore02,jdbcType=VARCHAR},#{zMore03,jdbcType=VARCHAR},
		#{zMore04,jdbcType=VARCHAR},#{zMore05,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
		#{roleCode,jdbcType=VARCHAR},#{menuCode,jdbcType=VARCHAR})
	</insert>

	<!-- 批量添加实体 -->
	<insert id="insertBatch">
		INSERT INTO ARTICLE_AND_FILE
		(CODE,FLAG_DEL,CREATE_TIME,MODIFY_TIME,CREATE_BY,MODIFY_BY,
		Z_MORE01,Z_MORE02,Z_MORE03,Z_MORE04,Z_MORE05,REMARK,
		ROLE_CODE,MENU_CODE)
		VALUES
		<foreach collection="list" item="bean" separator=",">
			((SELECT REPLACE(UUID(), '-', '') AS code),#{bean.flagDel,jdbcType=VARCHAR},#{bean.createTime,jdbcType=VARCHAR},
			#{bean.modifyTime,jdbcType=VARCHAR},#{bean.createBy,jdbcType=VARCHAR},#{bean.modifyBy,jdbcType=VARCHAR},
			#{bean.zMore01,jdbcType=VARCHAR},#{bean.zMore02,jdbcType=VARCHAR},#{bean.zMore03,jdbcType=VARCHAR},
			#{bean.zMore04,jdbcType=VARCHAR},#{bean.zMore05,jdbcType=VARCHAR},#{bean.remark,jdbcType=VARCHAR},
			#{bean.roleCode,jdbcType=VARCHAR},#{bean.menuCode,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<!-- 更新实体 -->
	<update id="update" parameterType="ArticleAndFile">
	     UPDATE ARTICLE_AND_FILE
		<set>
			<if test="flagDel !=null and flagDel !=''">FLAG_DEL = #{flagDel,jdbcType=VARCHAR},</if>
			<if test="createTime !=null and createTime !=''">CREATE_TIME = #{createTime,jdbcType=VARCHAR},</if>
			<if test="modifyTime !=null and modifyTime !=''">MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},</if>
			<if test="createBy !=null and createBy !=''">CREATE_BY = #{createBy,jdbcType=VARCHAR},</if>
			<if test="modifyBy !=null and modifyBy !=''">MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},</if>
			<if test="zMore01 !=null and zMore01 !=''">Z_MORE01 = #{zMore01,jdbcType=VARCHAR},</if>
			<if test="zMore02 !=null and zMore02 !=''">Z_MORE02 = #{zMore02,jdbcType=VARCHAR},</if>
			<if test="zMore03 !=null and zMore03 !=''">Z_MORE03 = #{zMore03,jdbcType=VARCHAR},</if>
			<if test="zMore04 !=null and zMore04 !=''">Z_MORE04 = #{zMore04,jdbcType=VARCHAR},</if>
			<if test="zMore05 !=null and zMore05 !=''">Z_MORE05 = #{zMore05,jdbcType=VARCHAR},</if>
			<if test="remark !=null and remark !=''">REMARK = #{remark,jdbcType=VARCHAR},</if>
		    <if test="roleCode !=null and roleCode !=''">ROLE_CODE = #{roleCode,jdbcType=VARCHAR},</if>
			<if test="menuCode !=null and menuCode !=''">MENU_CODE = #{menuCode,jdbcType=VARCHAR},</if>
			
		</set>
		<where>
			<if test="code != null and code != ''">CODE = #{code,jdbcType=VARCHAR}</if>
		</where>
	</update>

	<!-- 批量删除(为假删，规定:0为显示，1为删除) -->
    <update id="deleteById" parameterType="String">
       UPDATE ARTICLE_AND_FILE SET FLAG_DEL = 1 WHERE CODE = #{value}
     </update>

	<!-- 批量删除(为假删，规定:0为显示，1为删除) -->
    <update id="deleteBatch">
       UPDATE ARTICLE_AND_FILE SET FLAG_DEL = 1 WHERE CODE IN
       <trim prefix="(" suffix=")" suffixOverrides=",">
          <foreach collection="list" item="code" separator=",">
	          #{code}
          </foreach>
       </trim>
     </update>
     
    <!-- 根据id查询当前实体 -->
	<select id="findById" parameterType="String" resultMap="articleAndFileResult">
	    SELECT * FROM ARTICLE_AND_FILE WHERE FLAG_DEL != 1 AND CODE = #{code}
	</select>
	
	<!-- 查询所有 -->
	<select id="findAll"  resultMap="articleAndFileResult">
		SELECT * FROM ARTICLE_AND_FILE WHERE FLAG_DEL != 1
	</select>
	
	<!-- 带参数的分页查询 -->
	<select id="findByPage" parameterType="ArticleAndFile" resultMap="articleAndFileResult">
	    SELECT * FROM ARTICLE_AND_FILE
	    <where>
	        FLAG_DEL != 1
            <if test="createTime !=null and createTime !=''">AND CREATE_TIME = #{createTime,jdbcType=VARCHAR}</if>
            <if test="modifyTime !=null and modifyTime !=''">AND MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR}</if>
            <if test="createBy !=null and createBy !=''">AND CREATE_BY = #{createBy,jdbcType=VARCHAR}</if>
            <if test="modifyBy !=null and modifyBy !=''">AND MODIFY_BY = #{modifyBy,jdbcType=VARCHAR}</if>
            <if test="zMore01 !=null and zMore01 !=''">AND Z_MORE01 = #{zMore01,jdbcType=VARCHAR}</if>
            <if test="zMore02 !=null and zMore02 !=''">AND Z_MORE02 = #{zMore02,jdbcType=VARCHAR}</if>
            <if test="zMore03 !=null and zMore03 !=''">AND Z_MORE03 = #{zMore03,jdbcType=VARCHAR}</if>
            <if test="zMore04 !=null and zMore04 !=''">AND Z_MORE04 = #{zMore04,jdbcType=VARCHAR}</if>
            <if test="zMore05 !=null and zMore05 !=''">AND Z_MORE05 = #{zMore05,jdbcType=VARCHAR}</if>
            <if test="remark !=null and remark !=''">AND REMARK = #{remark,jdbcType=VARCHAR}</if>
			<if test="roleCode !=null and roleCode !=''"> AND ROLE_CODE = #{roleCode,jdbcType=VARCHAR}</if>
			<if test="menuCode !=null and menuCode !=''"> AND MENU_CODE = #{menuCode,jdbcType=VARCHAR}</if>
			
	    </where>
	</select>

	<!-- 查询指定条件的实体集合 -->
    <select id="findListByParams" parameterType="ArticleAndFile" resultMap="articleAndFileResult">
        SELECT * FROM ARTICLE_AND_FILE
        <where>
            FLAG_DEL != 1
            <if test="createTime !=null and createTime !=''">AND CREATE_TIME = #{createTime,jdbcType=VARCHAR}</if>
            <if test="modifyTime !=null and modifyTime !=''">AND MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR}</if>
            <if test="createBy !=null and createBy !=''">AND CREATE_BY = #{createBy,jdbcType=VARCHAR}</if>
            <if test="modifyBy !=null and modifyBy !=''">AND MODIFY_BY = #{modifyBy,jdbcType=VARCHAR}</if>
            <if test="zMore01 !=null and zMore01 !=''">AND Z_MORE01 = #{zMore01,jdbcType=VARCHAR}</if>
            <if test="zMore02 !=null and zMore02 !=''">AND Z_MORE02 = #{zMore02,jdbcType=VARCHAR}</if>
            <if test="zMore03 !=null and zMore03 !=''">AND Z_MORE03 = #{zMore03,jdbcType=VARCHAR}</if>
            <if test="zMore04 !=null and zMore04 !=''">AND Z_MORE04 = #{zMore04,jdbcType=VARCHAR}</if>
            <if test="zMore05 !=null and zMore05 !=''">AND Z_MORE05 = #{zMore05,jdbcType=VARCHAR}</if>
            <if test="remark !=null and remark !=''">AND REMARK = #{remark,jdbcType=VARCHAR}</if>
            <if test="roleCode !=null and roleCode !=''"> AND ROLE_CODE = #{roleCode,jdbcType=VARCHAR}</if>
			<if test="menuCode !=null and menuCode !=''"> AND MENU_CODE = #{menuCode,jdbcType=VARCHAR}</if>
			
        </where>
    </select>

	<!-- 删除当前角色权限信息,真删,避免多次授权数据更新后的数据冗余 -->
	<update id="deleteByRoleId" parameterType="String">
		DELETE FROM ARTICLE_AND_FILE WHERE ROLE_CODE = #{value}
	</update>
 </mapper>
