<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.don9cn.blog.plugins.dbbuilder.model.DbTableChecker.mapper">

	<resultMap id="checkerResultMap" type="cn.don9cn.blog.plugins.dbbuilder.model.DbTableChecker">
		<result column="RESULT" jdbcType="VARCHAR" property="result" />
	</resultMap>

	<!-- 查询是否存在指定名称的表格 -->
	<select id="checkTableExits" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = #{databaseName}
	</select>

	<!-- 根据SQL语句创建表格 -->
	<update id="createTableBySql" parameterType="java.lang.String">
		${value}
	</update>

</mapper>